#accountContainer {

}

#accountContainer a span {
    display: block;
    padding: 2px 14px;
    border: 1px solid #555;
    font-weight: 300;
    width: 120px;
}

#accountButton {
    display:inline-block;
    position:relative;
    z-index:30;
    cursor:pointer;
}