## Set engine on
RewriteEngine On

## Turn on https
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

## Rewrite home
RewriteRule ^home/(.*) index.php?page=home$1

## Rewrites for account elements
RewriteRule ^account/register/(.*) index.php?page=account/register$1

## Details page
RewriteRule ^product/details/(.*) index.php?page=product/details$1

## Cart page
RewriteRule ^cart/(.*) index.php?page=cart/cart$1

## Add error document
ErrorDocument 404 https://cylosix.nl/Webwinkel/home/&error=404/