## Set engine on
RewriteEngine On

## Rewrite home
RewriteRule ^home/(.*) index.php?page=home$1

## Rewrites for account elements
RewriteRule ^account/register/(.*) index.php?page=account/register$1

